[Unit]
Description=netfilter persistent configuration
DefaultDependencies=no
Requires=docker.service
After=systemd-modules-load.service local-fs.target docker.service
Conflicts=shutdown.target netfilter-persistent.service
Documentation=man:netfilter-persistent(8)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/netfilter-persistent start
ExecStop=/usr/sbin/netfilter-persistent stop

[Install]
WantedBy=multi-user.targetroot